<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Products</title>
  </head>
  <body>
    <h1 class="text-center m-3">Productos</h1>
    <div class="text-center">
      <a href="/api/carrito/Products">
        <button class="btn btn-success">Carrito</button></a
      >
      <a href="/api/chat"> <button class="btn btn-success">Chat</button></a>
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Registro</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <form
          action="/api/user/registro"
          method="post"
          class="needs-validation"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Nombre de usuario</label
            >
            <input
              type="text"
              class="form-control"
              name="usuario"
              placeholder="usuario"
            />
            <div class="form-text">O.O</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample2"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            Inicio de Sesion
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <form action="/api/user/inicio" method="post" class="needs-validation">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Nombre de usuario</label
            >
            <input
              type="text"
              class="form-control"
              name="usuario"
              placeholder="usuario"
            />
            <div class="form-text">O.O</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </form>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 p-5 justify-content-center">
      <div class="col">
        <div class="card p-2 mx-2 bg-light">
          <h5>Agregar al carrito</h5>
          <form
            action="/api/carrito/addCarrito"
            method="post"
            class="row g-3 needs-validation"
            novalidate
          >
            <div class="form-floating mb-6">
              <input type="text" class="form-control" name="id" />
              <label for="floatingInput">ID del Producto</label>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">
                Agregar al carrito
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card col-md-10 mx-5 text-center bg-light">
      <% if(productos.length == 0) { %>
      <h2>No hay productos ingresados !!</h2>
      <% } else { %>
      <table class="table">
        <h5>Productos</h5>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Foto del Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Codigo</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(productos => { %>
          <tr>
            <td><%=productos.id%></td>
            <td><img src="<%=productos.url%>" height="100px" /></td>
            <td><%=productos.name%></td>
            <td>$<%=productos.price%></td>
            <td>.<%=productos.stock%></td>
            <td>#<%=productos.codigo%></td>
            <td><%=productos.descripcion%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>

    <!-- JavaScript Bundle with Popper -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <script src="/index.js"></script>
  </body>
</html>
